<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-XXXXX-Y"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-XXXXX-Y');
  </script>

  <title></title>
  <meta name="description" content="">
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name= "robots" content="index, follow">
  <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <link rel="canonical" href="">
  <meta name="msvalidate.01" content=""> <!--Bing site verification -->
  <meta name="google-site-verification" content="">
  <meta property="fb:admins" content="0" >  <!-- enter your numeric Facebook id number -->

  <meta property="og:locale" content="en_IN">
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:site_name" content="">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:image:url" content="">
  <meta property="og:image:secure_url" content="">
  <meta property="og:image:width" content="140">
  <meta property="og:image:height" content="140"/>
  <meta property="og:updated_time" content="2020-07-17T17:01:56-04:00">

  <!-- Google+ / Schema.org -->
  <meta itemprop="name" content=""/>
  <meta itemprop="headline" content=""/>
  <meta itemprop="description" content=""/>
  <meta itemprop="image" content=""/>
  <meta itemprop="publisher" content=""/> <!-- To solve: The attribute publisher.itemtype has an invalid value-->
  <meta itemprop="image" content="">
  <meta itemprop="datePublished" content="2020-07-17">
  <meta itemprop="dateModified" content="2020-07-17T17:01:56-04:00">
  <meta itemprop="author" content="Balkrishna Agarwal">
  <!-- Twitter Cards -->
  <meta name="twitter:title" content=""/>
  <meta name="twitter:url" content=""/>
  <meta name="twitter:description" content=""/>
  <meta name="twitter:image" content=""/>
  <meta name="twitter:card" content=""/>
  <meta name="twitter:site" content=""/>

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="normalize/normalize.css">
  <link rel="stylesheet" href="../views/user-profile/user-profile-style.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <header><h1 id="title_name">Marketool</h1><br><h1>Marketing bot for Twitter & other Social Media</h1><br></header>
  <main>Welcome @<%= data.twitterHandle %>, start a new search<br>
  <a href="/<%= data.twitterHandle %>/logout">Logout</a>
  <form id="newSearchForm" enctype="text/html" method="post" action="/<%= data.twitterHandle %>/searchresults" >
    <label for="search_term">Search Term:</label>
    <input type="text" id="search_term" name="search_term">
    <!-- All search parameters at https://developer.twitter.com/en/docs/tweets/search/api-reference/get-search-tweets -->
    <!-- Geo code based search  -->
    <label for="latitude">Latitude:</label>
    <input type="text" id="latitude" name="latitude">
    <label for="longitude">Longitude:</label>
    <input type="text" id="longitude" name="longitude">
    <label for="radius">Radius</label>
    <input type="text" id="radius" name="radius">
    <label for="language">Language:</label>
    <select id="language" name="language" size="4">
      <option value = "en" selected>English</option>
      <option value = "hi">Hindi</option>
      <option value = "gu">Gujarati</option>
      <option value = "ta">Tamil</option>
    </select>
    <label for="result_type">Result Type:</label>
    <select id="result_type" name="result_type" size="3">
      <option value = "mixed" selected>Mixed</option>
      <option value = "recent">Recent</option>
      <option value = "popular">Popular</option>
    </select>
    <button type="submit" id="submit_book">Search</button>
  </form>
  
  </main>
  <footer></footer>
  
<script src="normalize/vendor/modernizr-3.11.2.min.js"></script>
<script src="normalize/plugins.js"></script>
<script src="../views/user-profile/user-profile-js.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
