<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-XXXXX-Y"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-XXXXX-Y');
  </script>

  <title></title>
  <meta name="description" content="">
  <meta name="keywords" content="Software services Company, Mobile App Development, Software Development, ERP Software" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name= "robots" content="index, follow">
  <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <link rel="canonical" href="https://bizcatapp.com">
  <meta name="msvalidate.01" content=""> <!--Bing site verification -->
  <meta name="google-site-verification" content="">
  <meta property="fb:admins" content="0" >  <!-- enter your numeric Facebook id number -->

  <!-- Meta Properties for Books -->
  <meta property="og:type" content="books.book">
  <meta property="og:title" content="">
  <meta property="og:site_name" content="">
  <meta property="og:url" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="books:isbn" content="">
  <meta property="books:rating:value" content="">
  <meta property="books:rating:scale" content="">
  <!-- In the below, In the content, put links with meta property books.author  -->
  <meta property="books:author" content="">

  <!-- Meta properties for articles / blog -->
  <meta name="author" content="">  
  <meta property="article:published_time" content="2020-04-21T16:10:20-04:00">
  <meta property="article:modified_time" content="2020-04-28T17:01:56-04:00">
  <meta property="article:section" content="Interviews">
  <meta property="article:publisher" content="https://facebook.com/theceolibrary">

  <meta property="og:locale" content="en_IN">
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:site_name" content="BizCat Applications Pvt. Ltd.">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:description" content="Books recommended by people we look up to">
  <meta property="og:image" content="https://www.theceolibrary.com/wp-content/uploads/2017/08/27400_icon_140x140_02.png">
  <meta property="og:image:url" content="https://www.theceolibrary.com/wp-content/uploads/2017/08/27400_icon_140x140_02.png">
  <meta property="og:image:secure_url" content="https://www.theceolibrary.com/wp-content/uploads/2017/08/27400_icon_140x140_02.png">
  <meta property="og:image:width" content="140">
  <meta property="og:image:height" content="140"/>
  <meta property="og:updated_time" content="2020-04-28T17:01:56-04:00">

  <!-- Google+ / Schema.org -->
  <meta itemprop="name" content="The CEO Library"/>
  <meta itemprop="headline" content="The CEO Library"/>
  <meta itemprop="description" content="Books recommended by people we look up to"/>
  <meta itemprop="image" content="https://www.theceolibrary.com/wp-content/uploads/2017/08/27400_icon_140x140_02.png"/>
  <meta itemprop="publisher" content="The CEO Library"/> <!-- To solve: The attribute publisher.itemtype has an invalid value-->
  <meta itemprop="image" content="https://www.theceolibrary.com/wp-content/uploads/2020/04/bogdan-savonea-tps-engage-feat.jpg">
  <meta itemprop="datePublished" content="2020-04-21">
  <meta itemprop="dateModified" content="2020-04-28T17:01:56-04:00">
  <meta itemprop="author" content="Bobby">
  <!-- Twitter Cards -->
  <meta name="twitter:title" content="The CEO Library"/>
  <meta name="twitter:url" content="https://www.theceolibrary.com/"/>
  <meta name="twitter:description" content="Books recommended by people we look up to"/>
  <meta name="twitter:image" content="https://www.theceolibrary.com/wp-content/uploads/2017/08/27400_icon_140x140_02.png"/>
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@theceolibrary"/>

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="normalize/normalize.css">
  <link rel="stylesheet" href="../views/search-results/search-results-style.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <header><h1 id="title_name">Marketool</h1><br><h1>Marketing bot for Twitter & other Social Media</h1><br></header>
  <main>Here is the result for search by you
  <div id="tweets_container">
    <% data.forEach(function(dat){ %>
      <blockquote class="twitter-tweet"><a href="https://twitter.com/x/status/<%= dat %>"></a></blockquote>
    <% }); %>
  </div>
<script src="normalize/vendor/modernizr-3.11.2.min.js"></script>
<script src="normalize/plugins.js"></script>
<script src="main.js"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
